/target/
*/target/

# Eclipse
.settings/
bin/
.metadata
.classpath
.project
.externalToolBuilders/

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Miscellaneous files thzt should not be checked in
temp/

.DS_Store
